.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 327px;
}
.submited-logo {
  background-image: url(./../../assets/submited.svg);
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  margin-bottom: 30px;
}
.confirm-btn{
    width: 327px;
    margin-top: 48px;
}
h1{
    color: #21092F;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 3.422px;
}
p{
    color: #8F8694;
    font-size: 18px;
    font-weight: 500;
}